<div class="container">
	<div class="todo-app">
		<div class="title">
			<h3>Todo App</h3>
			<i class="fa-solid fa-plus" (click)="onShow()"></i>
		</div>
		<div *ngIf="show">
			<form (ngSubmit)="addTodo()">
				<input type="text" name="inputTodo" class="form-control form-control-lg" [(ngModel)]="inputTodo"
				placeholder="Add Todo" >
				<input type="submit" value="Add" name="inputTodo" class=" btn btn-primary submit-btn">
			</form>
		</div>
		<div *ngFor="let todo of todos; let i = index" class="todo-list {{ (todo.done ? 'done' : '') }}">
			<div class="d-none">{{i}}</div>
			<div class="content" (click)="done(i)">{{todo.content}}</div>
			<div (click)="deleteTodo(i)"><i class="fa-solid fa-trash trash"></i></div>
		</div>
	</div>	
</div>

